{% extends 'includes/base.html' %}
{% load widget_tweaks %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h5><a href="{% url 'categories' %}">{{ category.title }}</a>/<a href="{% url 'forums' category.id %}">{{ forum.title }}</a>/
        <a href="{% url 'topics' forum.id %}">Темы</a>/Изменение темы: {{ old_topic.subject }}</h5>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Изменить</button>
        <a href="{% url 'topics' forum.id %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}