{% extends "includes/base.html" %}

{% block content %}

{% if form.errors %}
    <p class="alert alert-warning">Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте снова.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p class="alert alert-warning">У вашей учетной записи нет доступа к этой странице. Чтобы продолжить, пожалуйста, войдите в систему с учетной записью, имеющей доступ.</p>
    {% else %}
        <p class="alert alert-warning">Пожалуйста авторизируйтесь, чтобы увидеть содержимое этой страницы.</p>
    {% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <div class="p-2">
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
            </div>
            <div class="p-2">
                <input class="btn btn-primary"  type="submit" value="Войти" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>
    <div>
        <a class="btn btn-link" href="{% url 'password_reset' %}">Забыли пароль</a></p>
    </div>
{% endblock %}